body {
    background-image: url("../images/bg-purple-gradient.png");
}
button {
    font-family: 'Patrick Hand', cursive;

}
img {
    border: .4rem solid #dc3546af;
}
th {
    font-family: 'Nova Mono', monospace;
    font-size: 0.7rem;
}
tr {
    font-family: 'Patrick Hand', cursive;
    font-size: 0.8rem;
}
.title-message {
    font-family: 'Patrick Hand', cursive;
}
#title-message {
    font-size: 2rem;
}
.bgo {
    background:rgba(8, 8, 8, 0.527);
    padding-top: 1.20rem;
}
.btn-sm {
    font-size: 0.4rem;
}